:root {
    --maincolor:#222831;
    --secondcolor:#393E46;
    --thirdcolor:#00ADB5;
    --fourthcolor:#EEEEEE;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}